body {
    font-family: 'Sheriff', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.welcome-message {
    text-align: center;
    margin: 20px 0;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
}